<div class="grid wrapper main-wrapper wrapper-content" >
    <div class="page-heading">
        <h2>部门管理</h2> </div>
    <div class="toolbar page-toolbar row m-b-sm m-t-sm">
        <div class="search col-sm-8 pull-right">
            <input  class="form-control input-sm select-sm select2" ng-model="info.name" type="text" placeholder="名称" style="width:200px;float:left"/>
            <div class="input-group">
            <input  class="input input-sm form-control" ng-model="info.remark" type="text" placeholder="备注"/>

            <span class="input-group-btn"><button class="btn btn-sm btn-primary" ng-click="search()"> 查 找 </button>
                <button class="btn btn-sm btn-primary" ng-click="add()" style="margin-left: 10px"> 新 增 </button></span>

            </div>
        </div>
        <div class="tool">
            &nbsp;&nbsp;
            <!--<label><span class="button" ng-click="del()"> 删 除 </span> </label>&nbsp;&nbsp;-->
        </div>
    </div>
        <table class="table table-hover table-responsive">
            <thead class="navbar-inner">
                <tr>
                    <!--<th><input type="checkbox"></th>-->
                    <th>ID</th>
                    <th>名称</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <!--<td><input type="checkbox" name="departid[]" value="{_ item['id'] _}" ></td>-->
                    <td ng-bind="item['id']"></td>
                    <td ng-bind="item['name']"></td>
                    <td ng-bind="item['remark']">
                    </td>
                    <td><a href="/backend/system/permission/{_ item['id'] _}">[ 权限分配 ]</a>&nbsp;&nbsp;<a ng-click="delete(item['id'])">[ 删 除 ]</a></td>
                </tr>

            </tbody>
        </table>
    </div>
    {{ partial('public/paging') }}

<div class="add" style="z-index: 1000">
    <form name="addForm" >
        <table>
           
            <tr>
                <th>名称</th>
                <td><input class="biginput" ng-model="edit.name" name="name"  /></td>
            </tr>
            <tr>
                <th>备注</th>
                <td> <input  class="biginput" ng-model="edit.remark" name="depart" required ng-minlength="2" maxlength="10" ng-class="{'error':addForm.depart.$invalid}">
                  </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="bigbutton" value=" 确 定 " ng-disabled="addForm.$invalid" ng-click="addsub()" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/js/depart.js"></script>