
<div class='wrapper main-wrapper wrapper-content '>
    <link type="text/css" rel="stylesheet" href="/css/dsh_style.css">
    <script src="/js/hm.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/slides.min.jquery.js"></script>
    <div class="row" style="margin-top: 30px">
        <div class="col-md-12 col-sm-12">
            <div class="contact-box">
                <div class="col-sm-1" style="padding:0">
                    <img src="http://abc.5xieys.cn/attachment/images/2/2016/12/as3COOc6scWsKBctZg7C3kS3gYZg6b.png" style="width:65px;height:65px;border-radius:5px">
                </div>
                <div class="col-sm-10"  style="padding-left:10px">
                    <h3>许多宝新品试用平台</h3>
                    <p></p>
                </div>
                <div class="col-sm-1" style="padding-left: 0"><a class="btn btn-primary btn-sm" href="http://web.5xieys.cn/backend/index/shop_edit" style="color: #fff"> 点击修改</a></div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <div class="contact-box" style="border: 1px solid #e7eaec">
                <div class="forum-item">
                    <div class="row">
                        <a href="#">
                            <div class="col-sm-3 forum-info">
                                                <span class="views-number goods_totals">
                                                    {{ over }}
                                                </span>
                                <div>
                                    <small>已售罄商品</small>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="col-sm-3 forum-info">
                                                <span class="views-number status1">
                                                    {{ send }}
                                                </span>
                                <div>
                                    <small>待发货订单</small>
                                </div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="col-sm-3 forum-info">
                                                <span class="views-number status4">
                                                    --
                                                </span>
                                <div>
                                    <small>今日访问量</small>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="col-sm-3 forum-info">
                                            <span class="views-number finance_total">
                                                {{ finish }}
                                            </span>
                                <div>
                                    <small>已完成订单</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

</div>
