<!DOCTYPE html>
<html lang="zh-CN" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>许多宝新品</title>


    <link  href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link  href="/css/index.css" rel="stylesheet"/>
    <link  href="/css/city-picker.css" rel="stylesheet" type="text/css" />
    <script src="/js/template.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
   
  </head>
  <body>
    <div class="container" id="containerBox">
    
      <div class="row ">
        <div class="yun">
          <div class="closeYun"></div>
        </div>
        <div class="bgImg"></div>
        <div class="header col-xs-12 col-sm-12"></div>
        <div class="banner col-xs-12 col-sm-12"> 
          <ul>
            <a><li id="allGoods" class="active"></li></a><a href="#"><li id="hot"></li></a><a href="#"><li id="new"></li></a><a href="#"><li id="fashion"></li>
          </ul>
        </div>
        <div class="content col-xs-12 col-sm-12" > 
          <ul id="moduleBox">
            
          </ul>
        </div>
           
        <div class="clearfix "></div>
          <div class="content_footer"></div>
        <div class="details_page" style="display:none"> 
            <div id="detailsBox">
              
            </div>
        </div>
        <div class="shippingAddress"> 
          <div>
            <h5>请输入收货地址</h5>
             <div class="docs-methods">
                           
                <div id="distpicker">
                 <form action="/gxc/mobile/payment" method="post" class="editFrm">
                    <div class="form-group">
                        <div style="position: relative;">
                            <input id="city-picker3" class="form-control" name="dz" readonly type="text" value="江苏省/苏州市/吴中区" data-toggle="city-picker">
                            <input id="More-address" name="address" class="form-control"  type="text" placeholder="详细地址" >
                            <input id="Person" name="fullname" class="form-control"  type="text" placeholder="收货人" >
                            <input id="Phone" name="mobile" class="form-control"  type="tel" placeholder="手机号码" >

                            <input type="hidden" name="orderid" value="{{ orderid }}">
                            <input type="hidden" name="lastid" value="{{ lastId }}">


                            <input type="hidden" name="province" value="province" >
                            <input type="hidden" name="city"  value="city" >
                            <input type="hidden" name="district"  value="district" >
                        </div>
                        <div class="goods1">
                          <input type="hidden" name="product_id">
                          <input type="hidden" name="product_detail" value='{""}'>
                        </div>
                        <!-- <div class="goods2">
                          <input type="hidden" name="products[]">
                          <input type="hidden" name="color[]" >
                          <input type="hidden" name="size[]" >
                          <input type="hidden" name="posit[]" >
                        </div> -->
                       

                    </div>
               
                    <div class="form-group">
                    <button id="toPay" type="submit">确定</button>
                        <!-- <div id="toPay" >确定</div> -->
                    </div>
                    </form>
                </div> 
        </div>


          </div>
        </div>

         
        <div class="footer col-xs-12 col-sm-12"> 
          <div class="footer_num  col-xs-6 col-sm-6">
            还需选择<span>9</span>件
          </div>
          <div class="footer_show  col-xs-3 col-sm-3" style="border-right:1px solid #fff">
            查看已选
          </div>
          <div class="footer_button  col-xs-3 col-sm-3" >
            确认选择
          </div>
        </div>
      </div>
 

    </div>

     <script id="goodsList" type="text/html">
      
       <% for (var i = 0; i < data.length; i++) { %>
          <li class="content_goodsList col-xs-6 col-sm-6" data-px="<%=i%>" data-hot="<%=data[i].hot%>" data-fashion="<%=data[i].fashion%>" data-new="<%=data[i].new%>">
                    <div class="goods_image">
                      <img src="<%=data[i].pic_url%>" alt="">
                    </div>
                    <div class="CheckBox"><input class="checkBoxClass" type="checkbox"> </div>
                    <div class="goods_choice">已被选<span><%= data[i].select_count %></span>件</div>
                    <div class="goods_price">市场参考价<span><%= data[i].price %></span>元</div>
                    <div class="goods_title"><%= data[i].name %></div>
                    <span class="descriptionImg" style="display:none"><%=data[i].description%></span>
                    <input type="hidden" name="products[]" value="<%=data[i].id%>" class="selected_id">
                    <!-- <input type="hidden" name="color[]" value="">
                    <input type="hidden" name="size[]" value="">
                    <input type="hidden" name="posit[]" value=""> -->
               </li>
       <%} %>
     
    </script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>/
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/city-picker.data.js"></script>
    <script src="/js/city-picker.js"></script>
    

    <script>
    var page=1;
    var total;
    var goodsNum=0;
    var scrollTrue=true;
    $.post('',{p:page}, function(ret) {
       total=ret.total;
       var html=template('goodsList',ret);
       document.getElementById('moduleBox').innerHTML = html;    
       document.body.scrollTop-=0.1;     
    },'json');
    //初始化页面高度
    $(".bgImg").css({'height':window.innerHeight});
         var choiceCount=0;

    //导航
    $(".banner li").on('click',function(){
     
      $(".banner li").css("background-image","url(/src/shopping/banner.png)");
      $(".banner li").removeClass('active');
      $(this).css('background-image',"url(/src/shopping/banner2.png)");
      $(this).addClass('active');
      $(".content li").css({'display':'none'});

      if($(this).attr('id')=="allGoods"){
        $(".content li").css({'display':'block'});
      }else if($(this).attr('id')=="hot"){ 
        $('.content li[data-hot="1"]').css({'display':'block'});
        goodsNum=0;
        $('.content li[data-hot="1"]').each(function(){
          goodsNum++;
        })
      }else if($(this).attr('id')=="new"){
        $('.content li[data-new="1"]').css({'display':'block'});
        goodsNum=0;
        $('.content li[data-new="1"]').each(function(){
          goodsNum++;
        })
      }else if($(this).attr('id')=="fashion"){
        $('.content li[data-fashion="1"]').css({'display':'block'});
        goodsNum=0;
        $('.content li[data-fashion="1"]').each(function(){
          goodsNum++;
        })
      }
        if(goodsNum<5){
          ajaxNext();
        }
      
      
    })
   //计算已选商品件数
      $("#moduleBox").on('click','.checkBoxClass',function(){
        event.stopPropagation(); 
        if(choiceCount>=9){
          if($(this).prop("checked")){
            $(this).removeProp("checked");
            alert("最多选择9件商品");
          } 
        }
       var productsID=[];
       var weizhiID=[];
       var json="{";
       var num;
        choiceCount=0;
       $("input[type=checkbox]").each(function(index){
          if($(this).prop("checked")){
            choiceCount++;
            num=index+1;
            productsID.push($(this).parent().parent().children('input[name="products[]"]').val());
            json=json+$(this).parent().parent().children('input[name="products[]"]').val()+":"+num+",";
             weizhiID.push(json);
             
            // $(".goods"+choiceCount).children('input[name="products[]"]').val($(this).parent().parent().children('input[name="products[]"]').val());
            // $(".goods"+choiceCount).children('input[name="color[]"]').val($(this).parent().parent().children('input[name="color[]"]').val());
            // $(".goods"+choiceCount).children('input[name="size[]"]').val($(this).parent().parent().children('input[name="size[]"]').val());
            // $(".goods"+choiceCount).children('input[name="posit[]"]').val($(this).parent().parent().children('input[name="posit[]"]').val());
          }
       })
       $(".goods1").children('input[name="product_id"]').val(productsID);
       json=json.substring(0,json.length-1)+"}";
       json=JSON.stringify(json);
       $('input[name="product_detail"]').val(json);
       $(".footer_num span").html(9-choiceCount);
      });

      //弹出相关属性
      $("#moduleBox").on("click",".goods_image,.goods_choice,.goods_price,.goods_title",function(){
    
        $("#detailsBox").html($(this).parent().children('.descriptionImg').text());
       
        event.stopPropagation(); 
        $(".yun").css({'display':'block'});
        $('.details_page').css({'zIndex':'102'}).fadeIn();
        // $('html,body').css({'overflow':'hidden'});
        // $(this).find(".goods_details").css({'display':'block','zIndex':'101'}).animate(
        //     {top:'15%'}
        //   );
        //  event.stopPropagation(); 
      })

      //遮罩
      $(".yun").on('click',function(){
        event.stopPropagation(); 
        $('.goods_details').css({'display':'none','zIndex':'99'}).animate({
          top:'-54%'});
        $(this).css({'display':'none'});
        $('.details_page').css({'display':'none','zIndex':'98'});
        $(".shippingAddress").css({'display':'none','top':'-300px'});
        // $('html,body').css({'overflow-y':'scroll'});
      })

      //详情按钮
      $(".details_button").click(function(){
       
        $('.details_page').css({'zIndex':'102'}).fadeIn();
        $(".details_page").scrollUnique();
      })

      //查看已选
      $(".footer_show").click(function(){
        if(scrollTrue){
          scrollTrue=false;
        $(this).text("返回");
        $("input[type=checkbox]").each(function(index){
          if(!$(this).prop("checked")){
           $(this).parent().parent().css({'display':'none'});
          }
       })
        $(".header,.banner").css({'display':'none'});
        $(".content_goodsList").css({'height':'120px'});
      }else{
          scrollTrue=true;
           $(this).text("查看已选");
           $(".header, .banner").css({'display':'block'});
           $(".content_goodsList").css({'height':'160px'});


           $(".banner li").css("background-image",'url(/src/shopping/banner.png)');
           $(".banner li").removeClass('active');
           $("#allGoods").css('background-image','url(/src/shopping/banner2.png)');
           $("#allGoods").addClass('active');
           $(".content li").css({'display':'block'});

            }
        

      })
      //填写地址
      $(".footer_button").click(function(){
        event.stopPropagation(); 
        if($(".footer_num span").html()>0){
          alert("请选完9件战利品");
          return;
        }
        $(".yun").css({'display':'block'});
        $(".shippingAddress").css({'display':'block'}).animate({top:'0'});
      })



      //关闭网页提醒
      // $(window).bind('beforeunload',function(){
        
   
      // })
      //更新收货地址
      $("#distpicker").click(function(){
       $('input[name="province"]').val($("#city-picker3").val().split('/')[0]);
       $('input[name="city"]').val($("#city-picker3").val().split('/')[1]);
       $('input[name="district"]').val($("#city-picker3").val().split('/')[2]);

 

      })


      //省市联动相关开始
        var $citypicker1 = $('#city-picker1');

        $citypicker1.citypicker();

        var $citypicker2 = $('#city-picker2');

        $citypicker2.citypicker({
            province: '江苏省',
            city: '苏州市',
            district: '吴中区'
        });

        var $citypicker3 = $('#city-picker3');

        // $('#reset').click(function () {
        //     $citypicker3.citypicker('reset');
        // });

        $('#destroy').click(function () {
            $citypicker3.citypicker('destroy');
        });
      //省市联动相关结束

      //上拉获取更多产品
        //获取滚动条当前位置
       function getScrollTop(){
        var scrollTop=0;
        if(document.documentElement && document.documentElement.scrollTop){
          scrollTop=document.documentElement.scrollTop;
        }else if(document.body){
          scrollTop=document.body.scrollTop;
        }
        return scrollTop;
       }
        //获取当前可视范围的高度 
        function getClientHeight() { 
        var clientHeight = 0; 
        if (document.body.clientHeight && document.documentElement.clientHeight) { 
        clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight); 
        } 
        else { 
        clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight); 
        } 
        return clientHeight; 
        } 

        //获取文档完整的高度 
        function getScrollHeight() { 
        return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight); 
        } 
        $(window).bind('scroll',function(){
      
          if(getScrollTop()+getClientHeight()==getScrollHeight()){
            if(scrollTrue){
              ajaxNext();
            }
            
           
          }

        })
//加载下一页函数
function ajaxNext(){
    page++;
    if(page>total){
      return;
    }
       $.post('',{p:page}, function(ret) {
        total=ret.total;
        var html=template('goodsList',ret);
        $("#moduleBox").append(html);
        document.body.scrollTop-=0.1;
         $("#moduleBox li").css({'display':'none'});
        $(".banner li").each(function(){
          if($(this).attr('class')=="active"){
          if($(this).attr('id')=="allGoods"){
            $(".content li").css({'display':'block'});
          }else if($(this).attr('id')=="hot"){
            $('.content li[data-hot="1"]').css({'display':'block'});
            goodsNum=0;
            $('.content li[data-hot="1"]').each(function(){
            goodsNum++;
            })
          }else if($(this).attr('id')=="new"){
            $('.content li[data-new="1"]').css({'display':'block'});
            goodsNum=0;
            $('.content li[data-new="1"]').each(function(){
            goodsNum++;
            })
          }else if($(this).attr('id')=="fashion"){
            $('.content li[data-fashion="1"]').css({'display':'block'});
            goodsNum=0;
            $('.content li[data-fashion="1"]').each(function(){
            goodsNum++;
            })
          }
          if(goodsNum<5){
            ajaxNext();
          }
        }
        });
      },'json');    
}
//提交订单
 // $("#toPay").on('click',function(){

 //  $.post('http://web.5xieys.cn/gxc/mobile/payment',$(".editFrm").serialize(),function(ret){
 //    console.log("yes");
 //  })
 // })
      
    </script>
  </body>
</html>