<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>许多宝 - 许多宝</title>
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="keywords" content="微信营销系统,微信,微信公众平台" />
    <meta name="description" content="微信营销系统是一款免费开源的微信公众平台管理系统，是国内最完善移动网站及移动互联网技术解决方案。" />
    <link rel="shortcut icon" href="http://abc.5xieys.cn/attachment/images/global/wechat.jpg" />
    <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script type="text/javascript" src="http://abc.5xieys.cn/app/resource/js/app/util.js"></script>
    <script src="http://abc.5xieys.cn/app/resource/js/require.js"></script>
    <script src="http://abc.5xieys.cn/app/resource/js/app/config.js"></script>
    <script type="text/javascript" src="http://abc.5xieys.cn/app/resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://abc.5xieys.cn/app/resource/js/lib/mui.min.js"></script>
    <script type="text/javascript" src="http://abc.5xieys.cn/app/resource/js/app/common.js"></script>
    <link href="http://abc.5xieys.cn/app/resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://abc.5xieys.cn/app/resource/css/common.min.css" rel="stylesheet">
    <script type="text/javascript">
        if(navigator.appName == 'Microsoft Internet Explorer'){
            if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
        window.sysinfo = {
            'uniacid': '2',		'acid': '2',				'siteroot': 'http://abc.5xieys.cn/',
            'siteurl': 'http://abc.5xieys.cn/app/index.php?i=2&c=entry&do=link&m=qw_cca&winzoom=1',
            'attachurl': 'http://abc.5xieys.cn/attachment/',
            'attachurl_local': 'http://abc.5xieys.cn/attachment/',
            'attachurl_remote': '',
            'MODULE_URL': 'http://abc.5xieys.cn/addons/qw_cca/',		'cookie' : {'pre': 'b961_'}
        };
        // jssdk config 对象
        jssdkconfig = null || {};
        // 是否启用调试
        jssdkconfig.debug = false;
        jssdkconfig.jsApiList = [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard',
            'openAddress'
        ];
    </script>
</head>
<body>
<div class="container container-fill">
    <style>
        ul,li,a{list-style: none;padding:0;margin:0}
        a:link{text-decoration: none}
        .theme{width:100%;background-color: #e9342a;height:50px;text-align: center;}
        .theme span{ color: #ffffff;font-weight: 500;font-size: 26px;line-height: 50px}
        .links{width:100%;margin:0 auto;}
        .links li{height:34px;line-height: 27px; text-align: center;padding: 6px;color: cornflowerblue;display: block;border-bottom: 1px dotted #ccc;float:left}
        .links li a:hover{
            background-color: #92b6ef;
            color:#fff;

        }
    </style>
    <div class="theme">
        <span><i class="fa fa-chain-broken" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;点击下面我的链接</span>
    </div>
    <div class="links">
        <ul>
        </ul>
    </div>

    <div class="text-center footer" style="margin:10px 0; width:100%; text-align:center; word-break:break-all;">
        &nbsp;&nbsp;			</div>
    <script>require(['bootstrap']);</script>
</div>
<style>
    h5{color:#555;}
</style>
<script type="text/javascript">
    $(function(){
        wx.config(jssdkconfig);
        var $_share = {"title":"\u8bb8\u591a\u5b9d","imgUrl":"","desc":"","link":"http:\/\/abc.5xieys.cn\/app\/index.php?i=2&c=entry&do=link&m=qw_cca&winzoom=1"};
        if(typeof sharedata == 'undefined'){
            sharedata = $_share;
        } else {
            sharedata['title'] = sharedata['title'] || $_share['title'];
            sharedata['desc'] = sharedata['desc'] || $_share['desc'];
            sharedata['link'] = sharedata['link'] || $_share['link'];
            sharedata['imgUrl'] = sharedata['imgUrl'] || $_share['imgUrl'];
        }
        if(sharedata.imgUrl == ''){
            var _share_img = $('body img:eq(0)').attr("src");
            if(_share_img == ""){
                sharedata['imgUrl'] = window.sysinfo.attachurl + 'images/global/wechat_share.png';
            } else {
                sharedata['imgUrl'] = util.tomedia(_share_img);
            }
        }
        if(sharedata.desc == ''){
            var _share_content = util.removeHTMLTag($('body').html());
            if(typeof _share_content == 'string'){
                sharedata.desc = _share_content.replace($_share['title'], '')
            }
        }
        wx.ready(function () {
            wx.onMenuShareAppMessage(sharedata);
            wx.onMenuShareTimeline(sharedata);
            wx.onMenuShareQQ(sharedata);
            wx.onMenuShareWeibo(sharedata);
        });
        if($('.js-quickmenu')!=null && $('.js-quickmenu')!=''){
            var h = $('.js-quickmenu').height()+'px';
            $('body').css("padding-bottom",h);
        }else{
            $('body').css("padding-bottom", "0");
        }
    });
</script>
</body>
</html>
