{php $bootstrap_type = 3;}
{template 'header'}

<style>
    .show-more {padding-bottom:30px;}
</style>

<link type="text/css" rel="stylesheet" href="../addons/qw_cca/template/assets/css/common.css">

<style type='text/css'>
    .sel { background:#e9342a; color:#fff;}
    .nosel { background:#fff;color:#000}
    .pro-view{
        position: fixed;
        left:0;
        bottom:45px;
        right:0;
        background-color: rgba(0,0,0,0.5);
        color:#fff;
        height: 35px;
        z-index: 1000;
        padding:10px 5px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .pro-view .vertical{
        font-size: 12px;
        font-family: Arial, "microsoft yahei";
        text-align: center;
        line-height: 12px;

    }
    .show-product{
        background-color:rgba(113,113,113,0.90);
        border:8px solid;
        border-color: rgba(113,113,113,0.90);
        border-radius:5px;
        position: fixed;
        top:5px;
        bottom: 5px;
        left:5px;
        right:5px;
        display:none;
        overflow: auto;
        z-index: 20000;
        /*-webkit-transform: translate3d(-320px,0,0);
        transform: translate3d(-320px,0,0);
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);*/
    }
    .bottom_tip{
        position: fixed;
        left:0;
        bottom:0;
        right: 0;
        background-color: #e0e0e0;
        background: -moz-linear-gradient(top,  #848484 0%, #ffffff 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#848484), color-stop(100%,#ffffff));
        background: -webkit-linear-gradient(top, rgba(132, 132, 132, 0.82) 0%,#ffffff 100%);
        background: -o-linear-gradient(top,  #848484 0%,#ffffff 100%);
        background: -ms-linear-gradient(top,  #848484 0%,#ffffff 100%);
        background: linear-gradient(to bottom,  #848484 0%,#ffffff 100%);
        color:#000;
        height: 45px;
        z-index: 1000;
    }
    .bottom_tip .font-vertical{
        font-size: 14px;
        font-family: Arial, "microsoft yahei";
        text-align: center;
        line-height: 15px;
    }
    ul,li,a{
        list-style: none;
        margin:0px;
        padding:0px;
    }
    .bottom_tip .font-vertical ul{
        height:45px;
    }
    .bottom_tip .font-vertical li{
        float:left;
        width:25%;
        text-align: center;
        border-right:1px solid #ccc;
        border-left: 1px solid #ccc;
        height:45px;
        line-height: 45px;
    }
    .bottom_tip .font-vertical li a{
        text-decoration: none;
    }

</style>
<div style="background-color: #fff;color:#fd8484;padding: 10px;font-weight: 500;font-size: 18px;text-align: center">
    <span>请帮助
        <img src="{$nickname['avatar']}"style="width:45px;height:45px;border-radius: 45px;width:50px;"/>
        {$nickname['nickname']}实现一个梦想
    </span>
<br>
        已参与人数:<span>{$count}</span>

</div>

<div class="shopping-main" style="padding:0;">
    <div class="list" id="list" style="padding:2px 4px;margin: 5px">
        {if !empty($products)}
        {loop $products $product}

        <div class="list-item">
            <label>
                <div class="products" style="background: url('{$_W['attachurl']}{$product['pic_url']}') top center no-repeat;background-size:cover;height:95px;width:80px">
                    <a href="{php echo $this->createMobileUrl('details', array('id' => $product['id'],order_id=>$_GPC['order_id']));}" style="display: block;height:30px;">
                        <!--
                            <img class="img-responsive" src="{$_W['attachurl']}{$product['pic_url']}">-->
                    </a>
                </div>
            </label>
	    <div class="sold">
            <span class="title">
                <a href="{php echo $this->createMobileUrl('details', array('id' => $product['id'],order_id=>$_GPC['order_id']));}">
                {$product['name']}
                </a>
		    </span>
        <strong class="price pull-left text-danger"><i class="fa fa-yen"></i> {$product['price']}元</strong>
        </div>
		<!--<span class="soldnum pull-right">已售{$product['num_sold']}件</span>
            <a href="{php echo $this->createMobileUrl('details', array('id' => $product['id']));}" class="btn btn-danger btn-block add-cart pull-right"> 找真爱</a>
        -->
        </div>
        {/loop}
        {else}
        <p style="text-align:center">暂无商品</p>
        {/if}
    </div>
    <div class="pager-position"></div>
</div>
<!--<div class="pro-view">
    <div class="vertical">点击可浏览商城产品</div>
</div>-->
<div class="show-product" >
    {if !empty($products)}
    {loop $goods $product}
    <div class="list-item" style="width:25%;float:left;margin:0 auto;background-color: white;border:1px solid #ccc;padding: 2px;text-align: center;position:relative">
        <label style="margin-bottom: 0;">
            <div class="products" style="background: url('{$_W['attachurl']}{$product['pic_url']}') top center no-repeat;background-size:cover;height:70px;width:70px">
                    <!--
                        <img class="img-responsive" src="{$_W['attachurl']}{$product['pic_url']}">-->
                </a>
            </div>
        </label>
        <!--<div class="sold" style="position:absolute;bottom:0;left:0;right:0;background:rgba(0,0,0,0.5)">
            <span class="title">
                {$product['name']}
                </a>
		    </span>
            <strong class="price pull-left text-danger"><i class="fa fa-yen"></i> {$product['price']}元</strong>
        </div>-->
    </div>
    {/loop}
    {else}
    <p style="text-align:center">暂无商品</p>
    {/if}
</div>


<div class="bottom_tip">
    <ul class="font-vertical">
        <li><a href="http://abc.5xieys.cn/app/index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=diypage&id=21">活动须知</a></li>
        <li><a href="http://abc.5xieys.cn/app/index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=diypage&id=22">参与步骤</a></li>
        <li><a href="http://abc.5xieys.cn/app/index.php?i=2&c=entry&do=olist&m=qw_cca&u=2&wxref=mp.weixin.qq.com&winzoom=1">我的订单</a></li>
        <li><a href="http://abc.5xieys.cn/app/index.php?i=2&c=entry&do=link&m=qw_cca&winzoom=1">我的链接</a></li>
    </ul>
</div>
{template 'footer'}
<script>
    $(".pro-view").on("click",function(){
        $(this).fadeOut(500);
        $(this).next().fadeIn(500);
    });
    $(".show-product").on("click",function(){
        $(this).fadeOut(500);
        $(this).prev().fadeIn(500);
    })
</script>
<script>

    wx.ready(function () {
        sharedata = {
            title: "许多宝",
            desc: '许多宝精彩玩法分享',
            success:function () {
                location.href="{php echo $this->createMobileUrl('payment', array('order_id' => $ordid,'friend'=>1));}"
            },
            cancel:function () {
                alert("cancel")
            }
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });


</script>
