<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>activity</title>
	<link rel="stylesheet" href="/css/payment1.css">

</head>
<body>
<div id="yun">
	<img src="/src/yun1.png" alt="">
</div>
<!-- 过关提示 -->
<div id="mask" style="display:none">
	<img src="/src/win.png">
	<span id="maskIsland">钓鱼岛</span>
</div>
<!-- 我也要玩规则 -->
<div id="playRule" style="display:none">
	<a href="/gxc/mobile/index/{{ orderid }}">前往商城</a>
</div>
<!-- 分享朋友圈 -->
<div id="shareFriends" style="display:none">
	<img src="/src/sharePYQ.png" alt="">
</div>
<div class="all_bg" id="bg">
	<div id="allcanvas">
		
		<canvas id="canvas1" width="200%" height="700"  ></canvas>
		<canvas id="canvas2"  width="200%" height="700" ></canvas>
		<!-- 岛屿 爆炸效果-->
		<div class="islands" id="islands">
			<div class="islandsItem" id="islands1"></div>
			<div class="islandsItem" id="islands2"></div>
			<div class="islandsItem" id="islands3"></div>
			<div class="islandsItem" id="islands4"></div>
			<div class="islandsItem" id="islands5"></div>
			<div class="islandsItem" id="islands6"></div>
			<div class="islandsItem" id="islands7"></div>
			<div class="islandsItem" id="islands8"></div>
			<div class="islandsItem" id="islands9"></div>
		</div>
		<!-- 第二层岛屿 -->
		<div id=islandsEffects>
			<div class="islandsItemeffects" id="islandseffects1">钓鱼岛</div>
			<div class="islandsItemeffects" id="islandseffects2">琉球群岛</div>
			<div class="islandsItemeffects" id="islandseffects3">九州岛</div>
			<div class="islandsItemeffects" id="islandseffects4">关岛</div>
			<div class="islandsItemeffects" id="islandseffects5">所罗门群岛</div>
			<div class="islandsItemeffects" id="islandseffects6">圣诞岛</div>
			<div class="islandsItemeffects" id="islandseffects7">威克岛</div>
			<div class="islandsItemeffects" id="islandseffects8">中途岛</div>
			<div class="islandsItemeffects" id="islandseffects9">夏威夷岛</div>
			
		</div>
		<!-- 第三层 奖励 -->
		<div>
			<div class="islandsItemePrize" id="islandsPrize1"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize2"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize3"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize4"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize5"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize6"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize7"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize8"><img src="/src/爆炸.png" alt=""></div>
			<div class="islandsItemePrize" id="islandsPrize9"><img src="/src/爆炸.png" alt=""></div>
			
		</div>
		<!-- 第四层 血条 -->
		<div class="islandsLife" id="islandsLife">
			<div class="islandsLifebox" id="islandsLifebox1"><div class="islandsLifeItem" id="islandsLifeItem1"></div></div>
			<div class="islandsLifebox" id="islandsLifebox2"><div class="islandsLifeItem" id="islandsLifeItem2"></div></div>
			<div class="islandsLifebox" id="islandsLifebox3"><div class="islandsLifeItem" id="islandsLifeItem3"></div></div>
			<div class="islandsLifebox" id="islandsLifebox4"><div class="islandsLifeItem" id="islandsLifeItem4"></div></div>
			<div class="islandsLifebox" id="islandsLifebox5"><div class="islandsLifeItem" id="islandsLifeItem5"></div></div>
			<div class="islandsLifebox" id="islandsLifebox6"><div class="islandsLifeItem" id="islandsLifeItem6"></div></div>
			<div class="islandsLifebox" id="islandsLifebox7"><div class="islandsLifeItem" id="islandsLifeItem7"></div></div>
			<div class="islandsLifebox" id="islandsLifebox8"><div class="islandsLifeItem" id="islandsLifeItem8"></div></div>
			<div class="islandsLifebox" id="islandsLifebox9"><div class="islandsLifeItem" id="islandsLifeItem9"></div></div>
		</div>
		
		<!-- 武器 -->
		<div id="element1" class="element"></div>
		<div id="element2" class="element"></div>
		<div id="element3" class="element"></div>
		<div id="element4" class="element"></div>
		<div id="element5" class="element"></div>
		<div id="element6" class="element"></div>
		<div id="element7" class="element"></div>
		<div id="element8" class="element"></div>
		<div id="element9" class="element"></div>
		<!-- 武器 火箭 -->
		<div id="elementHJ1" class="elementHJ"></div>
		<div id="elementHJ2" class="elementHJ"></div>
		<div id="elementHJ3" class="elementHJ"></div>
		<div id="elementHJ4" class="elementHJ"></div>
		<div id="elementHJ5" class="elementHJ"></div>
		<div id="elementHJ6" class="elementHJ"></div>
		<div id="elementHJ7" class="elementHJ"></div>
		<div id="elementHJ8" class="elementHJ"></div>
		<div id="elementHJ9" class="elementHJ"></div>
		
		<!-- 飞机， -->
		<div id="equipment1" class="equipment"></div>
		<!-- 航母 -->
		<div id="equipment2" class="equipment">	
		</div>
		<script type="text/html" id="UserPic">
			<img src="/src/hangmu.png" alt="">
			<div id="equipment2Img">
				<img src="<%=data.openid_details[0]%>">
			</div>
			<span id="equipment2Title">【<%=data.openid_details[1]%>号航母】</span>
		</script>

		<!-- 飞机目的地 -->
		<div class="aims" id="aims1"></div>
		<!-- 奖励 目的地-->
		<div id="prizeBox">
			
		</div>
		<script type="text/html" id="imgList">
			<div id="prizeBox1"><img src="<%=data.order_details[0]%>" alt=""></div><div id="prizeBox2"><img src="<%=data.order_details[1]%>" alt=""></div><div id="prizeBox3"><img src="<%=data.order_details[2]%>" alt=""></div><div id="prizeBox4"><img src="<%=data.order_details[3]%>" alt=""></div><div id="prizeBox5"><img src="<%=data.order_details[4]%>" alt=""></div><div id="prizeBox6"><img src="<%=data.order_details[5]%>" alt=""></div><div id="prizeBox7"><img src="<%=data.order_details[6]%>" alt=""></div><div id="prizeBox8"><img src="<%=data.order_details[7]%>" alt=""></div><div id="prizeBox9"><img src="<%=data.order_details[8]%>" alt=""></div>
		</script>
	<!-- 	<div class="Introduction">
			<span id="Notice">活动须知</span>
			<span id="Steps">参与步骤</span>
			<span id="myOrder">我的订单</span>
		</div> -->
		<div class="buttonbox">
			<!-- <div class="buttonboxitem" id="button1">支援人数<span>99</span></div> -->
			<div class="buttonboxitem" id="button2" onclick="DDZY();" style="display:none">导弹支援</div>
			<div class="buttonboxitem" id="button3" onclick="playToo();">我也要玩</div>
			<div class="buttonboxitem" id="button4" onclick="shareFriends();">分享</div>
			<div class="buttonboxitem" id="button5" onclick="TGDH();">跳过动画</div>
		</div>

		<div class="detailsShow">
			
			<div class="detailsShowItem" id="detailsShowItem1">
				<ul id="con1"></ul>
			    <ul id="con2"></ul>
  	 
			</div>
		<!-- 	<script id="friendsHelp" type="text/html">
			 	
				 <% for (var i = 0; i < islandsTime.length; i++) { %>
         		 <li><%=hi('sun',22)%><%= islandsTime[i].hit.length %>帮助您投放了导弹<%= islandsTime[i].length%></li>
       			<%} %>
       			
			</script> -->
		</div>
	</div>
	
</div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/template.js"></script>

<script src="/js/payment1.js"></script>
<script src="/js/parabola.js"></script>
<script src="/js/commonFunctions.js"></script>
<script src="/js/arms.js"></script>
<script src="/js/islands.js"></script>

</body>
</html>