<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="evname"></div>
<div id="evcontent"></div>
<div id="evtime"></div>
</body>
</html>
<script>
    var evtSource = new EventSource("http://abc.5xieys.cn/app/index.php?i=2&c=entry&do=publish&m=qw_cca&wxref=mp.weixin.qq.com&winzoom=1");
    var evname=document.getElementById('evname');
    var evcontent=document.getElementById('evcontent');
    var evtime=document.getElementById('evtime');
    if(evtSource){
        evtSource.onmessage = function(e) {

            evcontent.innerHTML = "message: " + e.data;
        }
    }else{
        alert("no");
    }

</script>
