
<div class="wrapper main-wrapper wrapper-content ">

    <div class="page-content" style="display: block;">
        <div class="page-heading"> <h2>商品销售转化率</h2> <span>查询商品浏览量及购买转化率，默认排序为转化率从高到低 总数: <span style="color:red">{_ count _}</span></span></div>



        <form >
            <input type="hidden" name="c" value="site">
            <input type="hidden" name="a" value="entry">
            <input type="hidden" name="m" value="ewei_shopv2">
            <input type="hidden" name="do" value="web">
            <input type="hidden" name="r" value="statistics.goods_trans">
	<div class="page-toolbar row m-b-sm m-t-sm">
		<div class="col-sm-5">

			<div class="btn-group btn-group-sm" style="float:left">
				<button class="btn btn-default btn-sm" type="button" data-toggle="refresh"><i class="fa fa-refresh"></i></button>

			</div> 
  
			 			
		</div>	


		<div class="col-sm-6 pull-right">

			<select name="orderby" class="form-control  input-sm select-md" style="width:100px;float:left">

				<option value="" selected="">排序</option>
				<option value="0">降序</option>
				<option value="1">升序</option>
			</select>
			<div class="input-group">				 
				<input type="text" class="form-control input-sm" name="title" value="" placeholder="商品名称"  ng-model="info.name">
				<span class="input-group-btn">
							
					<button class="btn btn-sm btn-primary btn-sm" type="submit"  ng-click="search()" > 搜索</button>
                       <button type="submit" name="export" value="1" class="btn btn-success  btn-sm">导出 Excel</button>
                    				</span>
			</div>

		</div>
	</div>

</form>
 
     <table class="table table-hover">
            <thead>
                <tr>
                
                    <th style="width:400px;">商品名称</th>
                    <th style="width:200px;">访问次数</th>
                    <th style="width:300px;">购买件数</th>
                    <th>转化率</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in list">
                    <td>
                        <img ng-src="{_ product.pic_url _}" style="width: 30px; height: 30px;border:1px solid #ccc;padding:1px;">
                        {_ product.name _}</td>
                    <td>{_ product.uniacid _}</td>
                    <td>{_ product.send_count _}</td>
                    <td>   <div class="progress" style="max-width:500px;">
                            <div style="width: 29.17%;" class="progress-bar progress-bar-info"><span style="color:#000">{_ product.send_count * 100 / product.send_count | number:2 _}%</span></div>
                       </div></td>
                </tr>
                              
                        </tbody></table>
        {{ partial('public/paging') }}
</div>

<script language="javascript">
    require(['bootstrap'], function ($) {
        $('[data-toggle="tooltip"]').tooltip({
            container: $(document.body)
        });
        $('[data-toggle="popover"]').popover({
            container: $(document.body)
        });
    });


     function check_ewei_shopv2_upgrade() {
  
        require(['util'], function (util) {  
            if (util.cookie.get('checkeweishopv2upgrade_sys')) {
                return;
            }
            $.post('http://abc.5xieys.cn/web/index.php?c=site&a=entry&m=ewei_shopv2&do=web&r=system.auth.upgrade.check', function (ret) {
                if (ret && ret.status == '1') { 
		  
	var result = ret.result;	    
                    if(result.filecount>0 || result.database || result.upgrades){
	 	 
                        var html = '<div id="ewei-shopv2-upgrade-tips" class="tips-upgrade">';
	   html+='<span class="tclose" onclick="check_ewei_shopv2_upgrade_hide();"><i class="fa fa-times-circle fa-2x"></i></span>';
                         html+= '<div class="title">检测到更新</div>';
                        html+='<div class="text"> 新版本 ' + result.version + " RELEASE " + result.release;
                        html+=',请尽快更新! </div>';
			html+='<div class="buttons"><a href="http://abc.5xieys.cn/web/index.php?c=site&a=entry&m=ewei_shopv2&do=web&r=system.auth.upgrade" class="btn btn-warning btn-sm">立即去更新</a></div></div>';
                        $('body').prepend(html);
                   }
                }
            },'json');
        });
    }
      function check_ewei_shopv2_upgrade_hide() {
        require(['util'], function (util) {
            util.cookie.set('checkeweishopv2upgrade_sys', 1, 3600);
            $('#ewei-shopv2-upgrade-tips').fadeOut(150);
        });
    }
    $(function () {
        setTimeout( function() {
            check_ewei_shopv2_upgrade();
        },4000);
    });
    
    $(function () {
        $('.page-content').show();
        $('.img-thumbnail').each(function () {
            if ($(this).attr('src').indexOf('nopic.jpg') != -1) {
                $(this).attr('src', "../addons/ewei_shopv2/static/images/nopic.jpg");
            }
        })
        $.ajax({
              url: "http://abc.5xieys.cn/web/index.php?c=site&a=entry&m=ewei_shopv2&do=web&r=util.task",
			  async:false,
              cache: false
        });
    });
</script>
</div><div id="tip-msgbox" class="msgbox"></div>

<script>
    myapp.controller('myCtrl', ['$scope', '$http', '$compile', 'retrieve', function ($scope, $http, $compile, retrieve) {
        $scope.info = {};                                                         //筛选条件
        $scope.list = [];                                                         //数据源
        $scope.info.p = 1;                                                        //分页
        $scope.total = 1;                                                         //总页数
        $scope.edit = {};
        $scope.oldsort = 0;


        retrieve.list($scope);
        $scope.paging = function () {                                             //分页
            if ($scope.info.p < 1) {
                $scope.info.p = 1;
            }
            if ($scope.info.p > $scope.total) {
                $scope.info.p = $scope.total;
            }
            retrieve.list($scope);
        }
        $scope.search = function () {                                         //筛选
            $scope.info.p = 1;
            retrieve.list($scope);
        };



    }]);


</script>