<div class='wrapper main-wrapper wrapper-content '>
    <div class="page-content">
        

<div class="page-heading"> <h2>商品销售排行</h2> <span>查询商品销售量和销售额，默认排序为销售额从高到低 总数: <span style='color:red'>{_ count _}</span></div>


        <form class="form-horizontal">
		<div class="col-sm-6 pull-right">

			<select name='orderby'  class='form-control  input-sm select-md'   style="width:110px;float:left">

				<option value='' selected>排序</option>
				<option value='0' >按销售额</option>
				<option value='1' >按销售量</option>
			</select>
			<div class="input-group">				 
				<input type="text" class="form-control input-sm"  name="title" value="" placeholder="商品名称"   ng-model="info.name"   />
				<span class="input-group-btn">
							
					<button class="btn btn-sm btn-primary btn-sm" type="submit"  ng-click="search()"> 搜索</button>
                    				</span>
			</div>

		</div>
	</div>

</form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th style='width:80px;'>排行</th>
                    <th>商品名称</th>
                    <th>销售量</th>
                    <th>销售额</th>
                </tr>
            </thead>
            <tbody>
                                <tr ng-repeat="item in list">
                    <td>                             <labe class='label label-danger' style='padding:8px;'>&nbsp;{_ (info.p - 1 ) * 10  +  $index + 1 _}&nbsp;</labe>
                                                    </td>
                    <td>
                        <img ng-src="{_ item['pic_url'] _}" style="width: 30px; height: 30px;border:1px solid #ccc;padding:1px;">
                        {_ item['name'] _}</td>
                    <td>{_ item['sale_count'] _}</td>
                    <td>{_ item['sale_count'] * item['price'] _}</td>
                </tr>
                              
                        </table>
        {{ partial('public/paging') }}
</div>
</div>

<script src="/js/data.js"></script>


