
<div class='wrapper main-wrapper wrapper-content '>
    <div class="page-menubar">
        <style type='text/css'>
            ul,li{margin:0;padding:0;list-style: none}
            .order-list a {
                position: relative;
            }
            .order-list span  {

                float:right;margin-right:20px;
            }
            .ui-step {
                padding:14px 0 8px 0;
                zoom:1
            }
            .ui-step:after {
                content:"";
                display:table;
                clear:both
            }
            .ui-step li {
                float:left;
                position:relative;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                text-align:center
            }
            .ui-step li::before,.ui-step li::after {
                position:absolute;
                left:0;
                top:36px;
                display:block;
                content:' ';
                width:50%;
                height:4px;
                background:#999;
                z-index:1
            }
            .ui-step li::after {
                left:50%
            }
            .ui-step li:first-child::before {
                width:0
            }
            .ui-step li:last-child::after {
                width:0
            }
            .ui-step .ui-step-title {
                color:#999;
                font-size:12px;
                font-weight:bold;
                line-height:18px
            }
            .ui-step .ui-step-number {
                position:relative;
                display:inline-block;
                width:20px;
                height:20px;
                margin:10px 0;
                line-height:22px;
                background:#999;
                color:#fff;
                border-radius:100%;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                z-index:2
            }
            .ui-step .ui-step-meta {
                color:#ccc
            }
            .ui-step li.ui-step-done::before,
            .ui-step li.ui-step-done::after,
            .ui-step li.ui-step-done .ui-step-number {
                background:#1ab394
            }
            .ui-step li.ui-step-done .ui-step-number {
                color:transparent
            }
            .ui-step li.ui-step-done .ui-step-number::after {
                position:absolute;
                left:0;
                width:17px;
                height:20px;
                line-height:22px;
                content:'√';
                color:#fff;
                font-family:serif
            }
            .ui-step li.ui-step-done .ui-step-title {
                color:#1ab394
            }
            .ui-step-2 li {
                width:50%
            }
            .ui-step-3 li {
                width:33.33333%
            }
            .ui-step-4 li {
                width:24.9999%
            }
            .ui-step-5 li {
                width:20%
            }
            .order-container { position:relative;
                overflow:hidden;border:1px solid #f2f2f2;margin: 0px;
            }
            .order-container-left {
                float:left;width:500px;
                margin-left:200px;
            }
            .order-container-right {border-left:1px solid #f2f2f2;
                float:left;width:600px;position:relative;
            }
            .order-tips {
                width:95%;
                margin:10px;
                position: absolute;
                bottom:0;
            }
            .order-tips-title {
                padding: 10px 0 10px 45px;
                color:#f90;
                border-top:1px dotted #f2f2f2;
            }
            .order-tips-row {
                padding: 0px 0 2px 50px
            }
            .help-block-validate {
                display:block;
                padding:10px 0;
            }
            .has-error .help-block-validate {
                color:#ed5565;
            }
            .choosed-goods{
                border: 1px solid #E6E8F0;
                width: 800px;
                height: 280px;
                padding: 10px;
                background-color: rgba(243,255,242,0.86);
                border-radius: 10px;
            }
            .choosed-storelist{
                width: 16%;
                height: auto;
                float: left;
                position: relative;
                text-align: center;
                margin-bottom: 30px;
            }
            .choosed-goods .choosed-storelist p {
                position: absolute;
                bottom: -9px;
                width: 101px;
                background-color: rgba(0,0,0,0.5);
                text-align: center;
                color: #fff;
                margin-left: 12px;
            }
        </style>
        </div>
    <div class="page-content">
        <style type='text/css'>
            .ordertable { width:100%;position: relative;margin-bottom:10px}
            .ordertable tr td:first-child { text-align: right }
            .ordertable tr td {padding:10px 5px 0;vertical-align: top}
            .ordertable1 tr td { text-align: right; }
            .ops .btn { padding:5px 10px;}
        </style>
        <div class="page-heading"> <h2>订单详情</h2> </div>
        <form class="form-horizontal form" action="" method="post">
            <input type="hidden" name="id" value="189" />

            <input type="hidden" name="dispatchid" value="" />

            <div  class='row order-container'>
                <div class="order-container-left">
                    <div class='panel-body' >
                        <h4 class="m-t-none m-b">订单信息</h4>
                        <div class="form-group" style='padding:0 10px;'>
                            <table class='ordertable' style='table-layout:fixed'>
                                <tr>
                                    <td style='width:80px'>订单编号：</td>
                                    <td>{{ order.id }}</td>
                                </tr>
                                <tr>
                                    <td>订单金额：</td>
                                    <td>￥{{ order.unit_price }} &nbsp;&nbsp;</td>
                                </tr>

                                <tr>
                                    <td>买家：</td>
                                    <td>{{ order.nickname }} &nbsp;&nbsp;</td>
                                </tr>
                            </table>

                            <table class='ordertable' style='table-layout:fixed;border-top:1px dotted #ccc'>
                                <tr>
                                    <td style='width:80px'>收货人：</td>
                                    <td style='word-break: break-all;white-space: normal'>
                                        {{ order.province }} {{ order.city }} {{ order.district }} {{ order.address }}  {{ order.fullname }} {{ order.mobile }}</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="order-container-right" >
                    <div class='panel-body' style='height:380px;' >
                        <div class='row'>
                            <div class="col-sm-9 col-xs-12">
                                <h3>
                                    <span class="text-danger">
                                        {% if order.status == 0 %}待购买
                                        {% elseif order.status ==1 %}待发货
                                        {% else %}已完成
                                        {% endif %}
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="choosed-goods">
                            {% for item in products %}
                            <div class="choosed-storelist">
                                <img src="{{ item['pic_url'] }}" style="width: 100px"  {% if item['send'] %}class="gray" {% endif %}  >
                                <p class="p2 ">{{ item['id'] }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>商品信息</span>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead class="navbar-inner">
                        <tr>
                            <th style="width:200px">订单编号</th>
                            <th>订单号</th>
                            <th style="text-align: center;">商品编号</th>
                            <th style="text-align: center;">姓名</th>
                            <th style="text-align: center;">手机</th>
                            <th style="text-align: center;">地址</th>
                            <th style="text-align: center;">配送订单</th>
                        </tr>
                        </thead>
                        {% for item in payments %}
                        <tr>
                            <td class='full'>{{ item.transaction_id}} </td>
                            <td> {{ item.id }}</td>
                            <td style="text-align: right;">{{ item.goods_id }}</td>
                            <td style='color:red;font-weight:bold;text-align: right;'>  {{ item.XdbOrder.fullname }}  </td>
                            <td> {{ item.XdbOrder.mobile }} </td>
                            <td>{{ item.XdbOrder.address }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </form>

    </div>
</div>
